# Dependencias
node_modules/

# Archivos de construcción
.DS_Store
.thumbs.db
.cache
.temp
.idea
.vscode
*.log

# Archivos de entorno
.env
.env.local
.env.*.local

# Cache de VitePress
docs/.vitepress/cache/
docs/.vitepress/.temp/
docs/.vitepress/dist/

# Archivos temporales y generados por Vite/Vue
**/__vitepress_temp__/
**/.vitepress/.temp/**
**/.vitepress/temp/**
**/vitepress___*
**/@vue_devtools**
**/@vueuse_**
**/mark__js_**
**/minisearch.js**